
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap')
.reviewform {
    color : rgba(120,0,0,255);
}
form.reviewform{
width : 100%;
font-family: 'Poppins', sans-serif;
}

li{
list-style-type:none;
margin-left: 0px;
}

th{
width : 200px;

}

table{
column-width : 800px;
font-family: 'Poppins', sans-serif;
background-color : white ;
}

.results{
 position: relative;
    left: 400px;
    top: 100px;
    width : 800px;

}
.reviews{

margin-left:5%;
margin-right:5%;
}

h2{
font-family: 'Poppins', sans-serif;
 color: rgba(120,0,0,255);
}


img { max-width:100%; }

/*a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-decoration: none;
}
*/



body{
    border-top:0;
}

.thumbnails li> .fff .caption {
    background:#fff !important;
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}


.reviewcarousel{

margin-top:200px;
width:100%;
}

.editreviewform{
max-width : 800px;
position : relative ;
top:150px;
font-family: 'Poppins', sans-serif;
left : 530px;
color : rgba(120,0,0,255);}



/* rating stars */
.movie__rating {
+  display: flex;
   margin-left: 1rem;
 }

.rating__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;
}

.star {
  width: 1.5em;
  height: 1.5em;
  fill: none;
}

.rating__link:not(:first-of-type) {
  margin-left: 2px;
}

.star--filled {
  fill: #ffd02a;
}
