<div class="wrapper">
    <!--Top_menu -->
    <div class="sidebar">
    <!--PFP_&_Text-->
    <div class="profile">
        <a href="/"><img src="../../static/img/Boreal1.png" alt="Profile Picture">
            <h3 style="color: rgba(120,0,0,255); font-family: 'cinzel'; letter-spacing: 2px; font-size: 35px;">Boreal</h3></a>
        <!-- <p>Designer</p> -->
    </div>
    <!--NavBar_Options-->
    <div>
    <ul>
    <!--Accounts and Settings -->
        <li class="{{ 'active' if active_page == 'link_one' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item dropbtn">Account and Settings</span>
            </a>
            <div class="dropdown-content" id="cont1">
                <a href="#">Sign Up</a>
                <a href="#">Log In</a>
            </div>
            </div>
        </li>

    <!--Services and Bookings -->
        <li class="{{ 'active' if active_page == 'link_two' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-calendar-check"></i></span>
                <span class="item dropbtn">Services and Bookings</span>
            </a>
            <div class="dropdown-content" id="cont2">
                <a href="/retrieveServices">Our Services</a>
                <a href="/retrieveAppointments">My Appointments</a>
                <a href="/bookingAnAppointment">Appointment Booking</a>
            </div>
            </div>
        </li>

    <!--Contact Hairstylists -->
        <li class="{{ 'active' if active_page == 'link_three' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item dropbtn">Contact Hairstylist</span>
            </a>
            <div class="dropdown-content" id="cont3">
                <a href="#">Link 7</a>
                <a href="#">Link 8</a>
                <a href="#">Link 9</a>
            </div>
            </div>
        </li>

    <!--Payment -->
        <li class="{{ 'active' if active_page == 'link_four' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item dropbtn">Payment</span>
            </a>
            <div class="dropdown-content" id="cont4">
                <a href="#">Link 10</a>
                <a href="#">Link 11</a>
                <a href="#">Link 12</a>
            </div>
            </div>
        </li>

    <!--Review -->
        <li class="{{ 'active' if active_page == 'link_five' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="item dropbtn">Review</span>
            </a>
            <div class="dropdown-content"  id="cont5">
                <a href="createUser">Leave a Review</a>
                <a href="websitereview">See Other Reviews</a>
            </div>
            </div>
        </li>

    <!--HR Tag -->
        <hr style="width: 90%; margin: 5px auto;  ">

        <!--FAQ -->
        <li class="{{ 'active' if active_page == 'link_six' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-chart-line"></i></span>
                <span class="item dropbtn">FAQ</span>
            </a>
            <!-- <div class="dropdown-content">
                <a style="color: black" href="#">Link 16</a>
                <a style="color: black" href="#">Link 2</a>
                <a style="color: black" href="#">Link 3</a>
            </div> -->
            </div>
        </li>

    <!--Help -->
        <li class="{{ 'active' if active_page == 'link_seven' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-user-shield"></i></span>
                <span class="item dropbtn">Help</span>
            </a>
            <!-- <div class="dropdown-content">
                <a style="color: black" href="#">Link 1</a>
                <a style="color: black" href="#">Link 2</a>
                <a style="color: black" href="#">Link 3</a>
            </div> -->
            </div>
        </li>

        <!--Admin Settings -->
        <li class="{{ 'active' if active_page == 'link_eight' else '' }}">
            <div class="dropdown">
            <a href="#">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item dropbtn">Settings</span>
            </a>
            <div class="dropdown-content" id="cont6">
                <a href="/createService">Add Services</a>
            </div>
            </div>
        </li>
    </ul>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
    $('body').on('click', '.buttonss', function(){
        $(".buttonss").not(this).removeClass('active');
        if($(this).hasClass('active')){
            $('.Resume-click-open').css({'height' : '100px'});
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    });

    $('.btn-Resume-buttons').click(function(e){
        $('.collapse').collapse('hide');
    });
});
</script>
