{% extends "base.html" %}
{% set active_page = "link_eight" %}
{% block title %}Boreal - Create Services{% endblock %}
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{% endblock %}
{% block content %}



{% from "includes/_formHelper.html" import render_field %}
 <div class="" style="margin-left:auto; width:50% ;margin-right:auto;">
<h1 class="mt-5 text-center" style="color:rgba(120,0,0,255); " >Create a new service</h1>
<form method="POST" enctype='multipart/form-data'>
<div class="form-group">
{{ render_field(create_service_form.service, placeholder="Service Type", class="form-control") }}
</div>
<div class="form-group">
{{ render_field(create_service_form.description, class="form-control", placeholder="Description") }}
</div>
<div class="form-group">
{{ render_field(create_service_form.service_price, class="form-control", placeholder="Price") }}
</div>

    <div class="mt-4 form-group">
{{form.hidden_tag()}}
    {{form.file(class="p-2 not-blue btn w-100")}}
    </div>

<div class="form-group">
{{ render_field(create_service_form.service_image, class="form-control", placeholder="Copy your image name here") }}

</div>

    &nbsp;<br>

{{form.submit( value="Create Service", class="not-blue btn float-right") }}

</form>
</div>
{% endblock %}
