{% extends "base.html" %}
{% set active_page = "link_five" %}
{% block title %}Boreal - Leave a Review{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">

{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
 <div class="text-center" style="margin-left:auto; width:50% ;margin-right:auto;">
<h1 class="mt-5 text-center" style="color:rgba(120,0,0,255); " >Leave a review</h1>
<form class="reviewform" method="POST" action="" enctype='multipart/form-data' >
<div class="form-group">
{{ render_field(create_user_form.first_name, class="form-control", placeholder="First Name") }}
</div>

<div class="form-group">
{{ render_field(create_user_form.last_name, class="form-control", placeholder="Last Name") }}
</div>

<div class="form-group">
{{ render_field(create_user_form.hairstylistname, class="form-control") }}
</div>

<div class="mt-4 form-group">
{{ render_field(create_user_form.date, class="form-control", style="list-style-type:none") }}
</div>

     <div class="mt-4 form-group">
{{form.hidden_tag()}}
        {{form.file(class="p-2 not-blue btn")}}
</div>

    <div class="form-group">
{{ render_field(create_user_form.file, class="form-control", placeholder="Copy your image name here") }}
</div>

<div id="prof">
<div class="form-group">
{{ render_field(create_user_form.remarks, class="form-control", placeholder="Remarks") }}
</div>
</div>
    <br>
    &nbsp;<br>
    <input id="submit" class="not-blue btn" name="submit" type="submit" value="Submit review">

</form>
</div>
{% endblock %}
