{% extends "base.html" %}
{% set active_page = "link_two" %}
{% block title %}Boreal - My Appointments{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stepformstyles.css') }}">


<style>
a.close{
    color:black;
    text-decoration:none;
    padding-top:4px;
}

.hide
        {
            display: none;
        }
</style>
<style>
    body {
    background-image: url('../static/img/bg.jpg');
    background-size:cover;
    }
</style>
{% endblock %}


{% block content %}
{% if 'appointment_created' in session %}
<div class="alert alert-success alert-dismissible">
Appointment {{ session.pop('appointment_created', None) }} was created.
</div>
{% elif 'appointment_updated' in session %}
<div class="alert alert-warning alert-dismissible">
Appointment {{ session.pop('appointment_updated', None) }} was updated.
</div>
{% elif 'appointment_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
Appointment {{ session.pop('appointment_deleted', None) }} was deleted.
</div>
{% endif %}


<ul class="nav justify-content-center">
  <li class="nav-item">
    <button class="not-blue btn mt-5 m-3 active" id="showPage1Btn" data-launch-view="page1">Pending</button>
  </li>
  <li class="nav-item">
    <button class="not-blue btn mt-5 m-3" id="showPage2Btn" data-launch-view="page2">Completed</button>
  </li>

</ul>


<div id="lotOfPages">

    <div class="view" id="page1">
           <div style="height:auto;" class="mt-5 mb-5 container container-table">
    <header>My Appointments</header>
    <div>
    {% if count == 0 %}
    <p>There are no appointments.</p>
    {% elif count == 1 %}
    <p>You have 1 appointment.</p>
    {% else %}
    <p>You have {{ count }} appointments.</p>
    {% endif %}
    </div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Services</th>
        <th>Hairstylist</th>
        <th>Remarks</th>

      </tr>
    </thead>
    <tbody>
     {% for appointment in appointments_list %}
      <tr>

      <td>{{ appointment.get_date() }}</td>
      <td>{{ appointment.get_time() }}</td>
        <td>
          {% for price in appointment.get_services() %}

          {% if price == '50.00' %}
            <p>Classic</p>
            {% elif price == '250.00' %}
            <p>Treatment</p>
            {% elif price == '120.00' %}
            <p>Color</p>
            {% elif price == '150.00' %}
            <p>Perm</p>
            {% elif price == '180.00' %}
            <p>Straighten</p>
          {% endif %}

          {% endfor %}
          </td>

          {% if appointment.get_hairstylist() == 'Julie Watson' %}
            <td>Julie Watson</td>
            {% elif appointment.get_hairstylist() == 'Marc McKnew' %}
            <td>Marc McKnew</td>
            {% elif appointment.get_hairstylist() == 'Jet Atkin' %}
            <td>Jet Atkin</td>
            {% elif appointment.get_hairstylist() == 'Jose Eber' %}
            <td>Jose Eber</td>
          {% endif %}

      <td>{{ appointment.get_remarks() }}</td>


      <td><a href="/updateAppointment/{{appointment.get_appointment_id()}}" class="change btn btn-warning">Change</a></td>
      <td>
      <form action="/deleteAppointment/{{appointment.get_appointment_id()}}" method="POST">
      <input type="submit" value="Delete" class="delete btn btn-danger" onclick="return confirm('Are you sure you want to delete your appointment?');">

      </form>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
    </div>


    <div class="view hide" id="page2">

    </div>

    </div>













{% endblock %}
{% block scripts %}

    <!--Sweet Alert Codes-->
    <!--JQuery CDN-->
    <!--Sweet Alert CDN-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="{{ url_for('static', filename='js/stepformscripts.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
$(document).ready(function (e) {

        function showView(viewName) {
            $('.view').hide();
    $('#' + viewName).show();
    }

        $('[data-launch-view]').click(function (e) {
            e.preventDefault();
            var viewName = $(this).attr('data-launch-view');
            showView(viewName);
        });

    });


$(document).ready(function () {
    $('body').on('click', '.btn', function(){
        $(".btn").not(this).removeClass('active');
        if($(this).hasClass('active')){
            $('.Resume-click-open').css({'height' : '100px'});
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    });

    $('.btn-Resume-buttons').click(function(e){
        $('.collapse').collapse('hide');
    });
});
</script>

{% endblock %}
