<!--create home.html template by extending base.html template-->
<!--basehtml is being used by base.html-->
{% extends "base.html" %}
<!--replace content of {} server-side jinja2 tags changes title to Library Loan System-->
{% block title %}Boreal - Services{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">
<style>
a.close{
    color:black;
    text-decoration:none;
    padding-top:4px;
}
</style>
<style>
  #myBtn {
    width:40px;
    height:40px;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    background:none;
    outline: none;
    color: rgba(120,0,0,255);
    cursor: pointer;
    font-size: 20px;
  }

  #myBtn:hover {
    color: rgb(142,90,65);
  }
</style>
{% endblock %}

{% block content %}
  <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="material-symbols-outlined">
		</span><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></button>
{% if 'service_created' in session %}
<div class="alert alert-success alert-dismissible">
{{ session.pop('service_created', None) }} was created.
</div>
{% elif 'service_updated' in session %}
<div class="alert alert-warning alert-dismissible">
{{ session.pop('service_updated', None) }} was updated.
</div>
{% elif 'service_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
{{ session.pop('service_deleted', None) }} was deleted.
</div>
{% endif %}

<!--insert python for service_img, service_name, service_description, service_price -->
<ul class="pt-4 nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#Classic">Classic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Treatment">Treatment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Color">Color</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Perm">Perm</a>
  </li>
    <li class="nav-item">
    <a class="nav-link " href="#Straighten">Straighten</a>
  </li>
</ul>

{% for service in services_list %}

<div class="container pb-5 pt-5 service">
    <h1 id="{{ service.get_service() }}">{{ service.get_service() }}</h1>
    <img src="{{ service.get_service_image() }}" alt="{{ service.get_service_id() }}">
    <div style="word-wrap: break-word;">{{ service.get_description() }}</div>
    <p>Minimum Price: $<span>{{ service.get_service_price() }}</span></p>

    <!--admin use-->
    <div class="flex-container">
    <a href="/updateService/{{service.get_service_id()}}" class="change flex-child btn btn-warning">Update</a>
    <form class="flex-child" action="/deleteService/{{service.get_service_id()}}" method="POST">
    <input type="submit" value="Delete" class="delete btn btn-danger">
    </form>
    </div>

</div>

{% endfor %}


<!--    <div class="container pb-5 text-center pt-5 service">-->
<!--    <h1>Classic</h1>-->
<!--    <img src="https://static.thehoneycombers.com/wp-content/uploads/sites/4/2019/06/stylist-cutting-long-hair_925x.jpg" alt="Classic Image">-->
<!--    <div>Our classic service is all about......</div>-->
<!--    <span>Minimum Price: $<span>50</span></span>-->
<!--</div>-->


{% block scripts %}
<script>
  // Get to Top button

//Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () { scroll() };

function scroll() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
{% endblock %}
{% endblock %}
