<!DOCTYPE html>

<html>
<head>
    <title>Demo</title>

    <style>
        .hide
        {
            display: none;
        }
    </style>
  <script>$(document).ready(function (e) {

        function showView(viewName) {
            $('.view').hide();
    $('#' + viewName).show();
    }

        $('[data-launch-view]').click(function (e) {
            e.preventDefault();
            var viewName = $(this).attr('data-launch-view');
            showView(viewName);
        });

    });</script>
</head>
<body>
    <div id="lotOfPages">

    <div class="view" id="page1">
            <h1>Page 1</h1>
        </div>

    <div class="view hide" id="page2">
            <h1>Page 2</h1>
        </div>

    <div class="view hide" id="page3">
            <h1>Page 3</h1>
        </div>

    </div>


    <button id="showPage3Btn" data-launch-view="page3">Page 3</button>

</body>
</html>
