{% extends "base.html" %}
{% block title %}Boreal - Update Services{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">
{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container service pt-5">
<h1 class="display-4">Update Services</h1>
<form method="POST" action="">
<div class="form-group">
{{ render_field(update_service_form.service, placeholder="Service Type", class="form-control") }}
</div>
<div class="form-group">
{{ render_field(update_service_form.description, class="form-control", placeholder="Description") }}
</div>
<div class="form-group">
{{ render_field(update_service_form.service_price, class="form-control", placeholder="Price") }}
</div>
    <div class="mt-4 form-group">
{{form.hidden_tag()}}
    {{form.file(class="p-2 not-blue btn")}}
    </div>
<div class="form-group">
{{ render_field(update_service_form.service_image, class="form-control", placeholder="Image URL") }}
</div>
    &nbsp;<br>
    &nbsp;<br>
{{form.submit( class="not-blue btn") }}
</form>
</div>
{% endblock %}
