<!--create index.html template by extending base.html template-->
<!--basehtml is being used by base.html-->
{% extends "base.html" %}
{% set active_page = "link_five" %}
<!--replace content of {} server-side jinja2 tags changes title to Library Loan System-->
{% block title %}Boreal - Review{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicestyles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/websitereview.css') }}">
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block content %}



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

<div class="pt-5 mt-5 reviews">
    <h2 class="pb-2 border-bottom" style=" font-family: 'Poppins', sans-serif;
 color: rgba(120,0,0,255);">See your reviews</h2>
    <div>
      <table class="table table-striped" style="background: #C4A484;">
      <thead>
            <tr >

                <th >First Name</th>
                <th >Last Name</th>
                <th >Name of hairstylist</th>
                <th>Date</th>
                <th >Remarks</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
           {% for user in users_list %}
            <tr>
                <td>{{ user.get_first_name() }}</td>
                <td>{{ user.get_last_name() }}</td>
                {% if user.get_hairstylistname() == "JW" %}
                <td>Julie Watson</td>
                {% elif user.get_hairstylistname() == "MM" %}
                <td>Marc McKnew</td>
                {% elif user.get_hairstylistname() == "JA" %}
                <td>Jet Atkins</td>
                {% elif user.get_hairstylistname() == "JE" %}
                <td>Jose Eber</td>
                {% endif %}
                <td>{{ user.get_date() }}</td>
                <td>{{ user.get_remarks() }}</td>

<!--                <td><a href="/updateUser/{{user.get_user_id()}}" class="btn btn-warning"><img src="{{ url_for('static', filename='img/edit.png') }}"></a></td>-->
<!--                   &lt;!&ndash; <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">-->
<!-- <img src="{{ url_for('static', filename='delete.png') }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your review?');">-->
<!--                    </form>&ndash;&gt;-->
<!--                <td>-->
<!--                    <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">-->
<!--           <input type="image" src=" {{ url_for('static', filename='img/delete.png') }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your review?');">-->
<!--                    </form>-->
<!--                </td>-->

                <td>
          <a href="/updateUser/{{user.get_user_id()}}"><span class="btn not-blue glyphicon glyphicon-edit"></a>
      <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
          <button type="submit" class="mt-3 btn btn-danger" onclick="return confirm('Are you sure you want to delete your review?');"><span class="glyphicon glyphicon-trash"></button>

      </form>
      </td>



            </tr>
            {% endfor %}
            </tbody>
        </table>

      </div>
<!-- carousel for reviews -->
    <div class="reviewcarousel">
        <h2 style="font-family: 'Poppins', sans-serif; color: rgba(120,0,0,255);">See other reviews here</h2>
<div class="#">
<div class="col-xs-12">
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
    						<div class="fff">
                                <div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair1.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Rachel Wong</h4>
									<p>
										After a disastrous experience at another salon, I was a little nervous to get my hair done at a salon. My fears were put at ease when Raffaele expertly brought back health and beauty to my hair. I love that he cares enough for his clients and will recommend what’s best for you. It was an absolute pleasure to have my hair done by someone who is a master and also enjoys what he does!
									</p>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff"><div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair2.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Sarah Tan</h4>
									<p>A style and cut by Raffaele is a wonderful experience, Raffaele is awesome. As a professional I take care to look my best and Raffaele makes it happen. I trust him and always receive complements on how I look. Thank You!</p>

								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
                                <div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair3.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Daniel Wong</h4>
									<p>I found Boreal about 3 years ago. My hair was fine, flat, frizzed with split ends. He has transformed my hair through the products and cut into a vibrant , healthy-looking style that brings compliments.</p>

								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
                                    <div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair4.jpg') }}">
								</div>
                                <div class="caption">
									<h4 style="color : #C4A484;">Katherine Smith</h4>
									<p>Raffaele has been cutting my hair for over 10 years and I wouldn’t trust my hair with anyone but him. I constantly get compliments on my haircut. Not only does he give an amazing haircut, but he makes the entire salon experience unforgettable. A haircut from Raffaele is priceless</p>

								</div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair5.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Daniel Wong</h4>
									<p>I found Boreal about 3 years ago. My hair was fine, flat, frizzed with split ends. He has transformed my hair through the products and cut into a vibrant , healthy-looking style that brings compliments.</p>

								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair6.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Amy Wong</h4>
									<p>Been with Boreal for a few years then covid came. Candy is good. Great advice & sincerity. Ryan the assistant for washing gives great massage & u shud book both for a hair appt. Gd thing is they don't "insult" as I don't have much hair. The only thing I found uncomfortable is the signing up for packages which I wasn't keen.</p>

								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair7.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Lisa Cudrow</h4>
									<p>With Boreal, Mark for 2-3years. Great service and friendly team. Always feels good after hair treatments and see improvements on my hair growth. 👍🏻</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<img src="{{ url_for('static', filename='img/hair8.jpg') }}">
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">Dennis Khoo</h4>
									<p>I wanted to thank Boreal for ten years of great service and work on my hair. You are a true professional and an expert in your field! I know I always count on your performance when it comes to cutting, dying, or styling my hair. No request of mine has ever been denied or altered, even if it would make your job more difficult.
                                    </p>

								</div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 -->
            <div class="item">
                    <ul class="thumbnails">
                        {% for user in users_list %}
                        <li class="col-sm-3">
							<div class="fff">
                                <div class="thumbnail">
                                <img src="static/files/{{ user.get_file() }}" >
								</div>
								<div class="caption">
									<h4 style="color : #C4A484;">{{ user.get_first_name() }}</h4>
                                    <p>Hairstylist :
                                    {% if user.get_hairstylistname() == "JW" %}
                                       Julie Watson
                                    {% elif user.get_hairstylistname() == "MM" %}
                                       Marc McKnew
                                    {% elif user.get_hairstylistname() == "JA" %}
                                      Jet Atkins
                                    {% elif user.get_hairstylistname() == "JE" %}
                                        Jose Eber
                                    {% endif %}
                                    <p>{{ user.get_remarks() }}</p>

								</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>

	   <nav>
			<ul class="control-box pager">
				<li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
				<li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
			</ul>
		</nav>
	   <!-- /.control-box -->

    </div><!-- /#myCarousel -->

</div><!-- /.col-xs-12 -->

</div><!-- /.container -->

    </div>
</div>
{% block scripts %}
<script src="{{url_for('static', filename='js/websitereview.js')}}"></script>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
    {% endblock %}
